body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    background-color: #F1F1F4;
	}

header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100;
    width: 100%;
    background-color: #F1F1F4;
  }

.intro {
  background: #7C4C83;
  color: white;
  text-align: justify-all;
  padding: 50px;
}

.PuertoRicanNY2-img {
  float: right;
  padding: 10px 125px;

}

img {
  border-radius: 50%;
  float: right;
  overflow: hidden;
  margin-left: 20px;
  padding: 10px 125px;
}


 
.fecha {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }

.textbox {
    color:black;
    max-width: 700px;
    margin: auto;
    background-color: #F1F1F4;
  }

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 100px;
    padding-top: -5px;
    text-align: center;
    color: black;
  }

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: white;
  }

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 25px;
    padding-bottom: 40px;
    color: black;
    max-width: 700px;
    margin: auto;
  }

.byline {
		font-style: italic;
		font-weight: bold;
		border-bottom: 0px solid #000000;
    text-align: center;
    text-decoration: underline;
  }

figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #6D676E;
  }

.redes {
  text-align: center;
}

footer {
  padding: 100px 150px;
  background-color: #9D1062;
  text-align: center;
}

p {
	 text-align: justify-all;
   font-size: 18px;
   line-height: 1.5; /* adjusts space between the lines */
  }